%YAML:1.0

# Project
project_name: "daliti"

#common parameters
imu_topic: "/imu/data"
image_topic: "/camera/edge"
lidar_topic: "/ouster/points"
point_cloud_topic: "/cloud_undistort"
lidar_status_topic: "/daliti/lidar/status"

# Lidar Params
use_lidar: 1                     # whether use depth info from lidar or not
lidar_skip: 0                    # skip this amount of scans


# camera model
model_type: PINHOLE
camera_name: camera

# Mono camera config
image_width: 640
image_height: 480
distortion_parameters:
   k1: -0.489173064896480
   k2: 0.388107714447729
   p1: 0.00137685302544284
   p2: -0.00460909651554077
projection_parameters:
   fx: 591.175294964448
   fy: 588.825041558649
   cx: 338.124623127524
   cy: 239.891347054984
#fisheye_mask: "/config/fisheye_mask_720x540.jpg"

#imu parameters       The more accurate parameters you provide, the worse performance
acc_n: 1.2163799584446335e-02          # accelerometer measurement noise standard deviation. #0.2
gyr_n: 3.0572547761517702e-03         # gyroscope measurement noise standard deviation.     #0.05
acc_w: 1.4453533271304003e-03         # accelerometer bias random work noise standard deviation.  #0.02
gyr_w: 5.2968987141886054e-05       # gyroscope bias random work noise standard deviation.     #4.0e-5
g_norm: 9.78       # gravity magnitude


# Extrinsic parameter between IMU and Camera.
estimate_extrinsic: 0   # 0  Have an accurate extrinsic parameters. We will trust the following imu^R_cam, imu^T_cam, don't change it.
                        # 1  Have an initial guess about extrinsic parameters. We will optimize around your initial guess.
                        # 2  Don't know anything about extrinsic parameters. You don't need to give R,T. We will try to calibrate it. Do some rotation movement at beginning. 
#Rotation from camera frame to imu frame, imu^R_cam
extrinsicRotation: !!opencv-matrix
   rows: 3
   cols: 3
   dt: d
   data: [ -0.03424792, -0.01264978,  0.99933331,
           -0.99934259,  0.01233382, -0.03409211, 
           -0.01189434, -0.99984392, -0.01306387]
#Translation from camera frame to imu frame, imu^T_cam
extrinsicTranslation: !!opencv-matrix
   rows: 3
   cols: 1
   dt: d
   data: [ 0.03179449, 0.06691165, -0.00412014]


#feature traker paprameters
max_cnt: 150            # max feature number in feature tracking
min_dist: 20            # min distance between two features 
freq: 0                # frequence (Hz) of publish tracking result. At least 10Hz for good estimation. If set 0, the frequence will be same as raw image 
F_threshold: 1.0        # ransac threshold (pixel)
show_track: 1           # publish tracking image as topic
draw_track: 0           # draw tracking image imshow
equalize: 0             # if image is too dark or light, trun on equalize to find enough features
fisheye: 0              # if using fisheye, trun on it. A circle mask will be loaded to remove edge noisy points

#optimization parameters
max_solver_time: 0.04   # max solver itration time (ms), to guarantee real time
max_num_iterations: 10   # max solver itrations, to guarantee real time
keyframe_parallax: 10.0  # keyframe selection threshold (pixel)

#unsynchronization parameters
estimate_td: 1           # online estimate time offset between camera and imu
td: -0.006095058794006382                    # initial value of time offset. unit: s. readed image clock + td = real image clock (IMU clock)

#rolling shutter parameters
rolling_shutter: 0       # 0: global shutter camera, 1: rolling shutter camera
rolling_shutter_tr: 0    # unit: s. rolling shutter read out time per frame (from data sheet). 

#loop closure parameters
loop_closure: 0                    # start loop closure
skip_time: 0.0
skip_dist: 0.0
debug_image: 0                      # save raw image in loop detector for visualization prupose; you can close this function by setting 0 
match_image_scale: 0.5
vocabulary_file: "/config/brief_k10L6.bin"
brief_pattern_file: "/config/brief_pattern.yml"